@import './breakpoints.scss';

.App {
  max-width: 1085px;

  @include at ($min, $phone) {
    padding: 30px;
    border: 2px solid #000;
  }
}

.App__header {
  margin-bottom: 35px;

  @include at ($min, $phone) {
    display: flex;
  }
}

.App__sort-bar {
  @include at ($min, $phone) {
    margin-right: 3.5%;
  }
}

.App__note-board {
  @include at ($min, $phone) {
    display: flex;
    justify-content: space-between;
  }
}
